@model HotelApp.Models.Message
@{
    string text = "test";
    if (!(String.IsNullOrEmpty(Model.text)))
    {
        if (Model.type == 0)
        { text = "Error"; }
        else
        { text = "Succes"; }
    }
    var roomsList = new HotelApp.Models.RoomsList();
    foreach (SelectListItem item in roomsList.rooms)
    {
        if (item.Value == Model.idStr)
        { item.Selected = true; }
    }
    ViewBag.Title = "Book room | Mohijto Soho Hotel.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="commonDiv">
    <div class="mainWrap" style="position: relative">
        @if ((HotelApp.user)Session["user"] == null)
        {
            <div class="ui-widget">
                <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                    <p>
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        <strong>Info: </strong>You have to bo sign in to follow the reservation. 
                    </p>
                </div>
            </div>
        }
        else
        {
            if (roomsList.rooms.Count() == 0)
            {
            <div class="ui-widget">
                <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                    <p>
                        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        <strong>Info: </strong>There are not rooms in hotel's database. 
                    </p>
                </div>
            </div>
            }
            else
            {
            <div class="resDiv">
                @using (Html.BeginForm("Book", "Reservation", FormMethod.Post))
                {
                    <table>
                        <tr>
                            <td colspan="2">
                                @Html.DropDownList("bookRoom", roomsList.rooms, "Choose your room from list", new { @id = "combobox" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="color: white">Start date:</label>
                            </td>
                            <td>
                                <label style="color: white">End Date:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.Hidden("bookStart", null, new { @id = "bookStart" })
                                <div id="datepicker1"></div>
                            </td>
                            <td>
                                @Html.Hidden("bookEnd", null, new { @id = "bookEnd" })
                                <div id="datepicker2"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <input type="submit" value="Confirm reservation" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#combobox').css("width", "400px");
        $('#datepicker1').datepicker({
            yearRange: "1930:2020",
            minDate: "+0d",
            maxDate: "+3y",
            firstDay: 1,
            dateFormat: "yy-mm-dd",
            onSelect: function (date) {
                $("#bookStart").val(date);
            },
            changeMonth: true,
            changeYear: true
        });
        $('#datepicker2').datepicker({
            yearRange: "1930:2020",
            minDate: "+1d",
            maxDate: "+3y",
            firstDay: 1,
            dateFormat: "yy-mm-dd",
            onSelect: function (date) {
                $("#bookEnd").val(date);
            },
            changeMonth: true,
            changeYear: true
        });
    });
</script>
@if (!(String.IsNullOrEmpty(Model.text)))
{
    <script type="text/javascript">
        $(function () {
            $("#dialog-message").dialog({
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
    <div id="dialog-message" title="@text">
        <ul id="icons" class="ui-widget ui-helper-clearfix">
            <li class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-notice"></span></li>
            <li>@Model.text</li>
        </ul>
    </div>
}

