@model List<HotelApp.room>
@{
    ViewBag.Title = "Rooms | Hotel.";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
@if (Model == null || Model.Count() == 0)
{ 
    <div class="ui-field-contain">
        <button type="button" disabled="disabled" data-icon="eye">
            <strong>Info: </strong>There are not rooms in
            <br />
            hotel's database.</button>
    </div>
}
else
{
    foreach (var room in Model)
    {
        string photoSrc = "/RoomPhotos/" + room.number + "/1.jpg";
        string photoSrc_2 = "/RoomPhotos/" + room.number + "/2.jpg";
    <div data-role="collapsible" data-collapsed-icon="arrow-l" data-expanded-icon="arrow-d" data-iconpos="right">
        <h1>Room <strong>#@room.number</strong>, Storey: <strong>@room.floor</strong>, Places: <strong>@room.places</strong></h1>
        <div>
            <table style="width: 100%">
                <tr>
                    <td style="width: 30%">
                        <div onclick="popupImage(this)">
                            <img class="photoP" width="100%" height="15%" src="@photoSrc" />
                        </div>
                        <div onclick="popupImage(this)">
                            <img class="photoP" width="100%" height="15%" src="@photoSrc_2" />
                        </div>
                    </td>
                    <td>
                        <strong>Bathroom</strong>: @room.bathroom
                        <br />
                        <br />
                        <strong>Kitchen</strong>: @room.kitchen
                        <br />
                        <br />
                        <strong>Size</strong>: @room.size sqm
                        <br />
                        <br />
                        <strong>View</strong>: @room.view
                    </td>
                    <td>
                        <span style="font-size: 40px">&euro; @room.price</span>
                        <br />
                        /night
                        @if ((HotelApp.user)Session["user"] != null)
                        {
                            <br />
                            <br />
                            <a style="text-decoration:none;" href="@Url.Action("Index", "Reservation", new { id = room.id })">
                                <button type="button">Book</button></a>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    }
}
<script type="text/javascript">
    function popupImage(data) {
        var subNode = data.getElementsByClassName("photoP");
        $("#popupI").attr("src", subNode[0].src);
        $('#popupBasic').popup('open');
    }
</script>
<div id="popupBasic" data-role="popup">
    <img id="popupI" width="100%" height="15%" src="" />
</div>
